<p  style="text-align: center; font-size: 40px; margin-top: 60px; margin-bottom: 50px;" class="text-xl font-semibold text-blue-600/100 dark:text-blue-500/100">Experience Something New</p>
<p style="text-align: center;" class="text-gray-500 whitespace-normal dark:text-gray-400">From beach getaways to resort escapes, find your ideal stay.</p>

<div style="margin-left: 20px; margin-top: 20px; display: inline-flex; ">

<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
        <img style="height: 250px; width: 370px;" class="rounded-t-lg" src="./assets/image5.jpg" alt="" />
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Beach Vacations</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Book a beach vacation and escape to sun and sand. Many of our hotels and resorts offer direct beach access</p>
        
    </div>
</div>


<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
        <img style="height: 250px; width: 370px;" class="rounded-t-lg" src="./assets/image6.jpg" alt="" />
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Pool Stays</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">From stunning rooftop pools to family-friendly water parks, our hotels offer a variety of aquatic escapes for guests of all ages to enjoy during their stay.</p>
        
    </div>
</div>

<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
        <img style="height: 250px; width: 370px;" class="rounded-t-lg" src="./assets/image7.jpg" alt="" />
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Boutique hotel stays</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Located in the heart of some of the most vibrant communities, enjoy a locally unique stay at our boutique hotels.</p>
        
    </div>
</div>

</div>
<div style="margin-left: 20px; margin-top: 20px; display: inline-flex; ">
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
            <img style="height: 250px; width: 370px;" class="rounded-t-lg" src="./assets/image8.jpg" alt="" />
        </a>
        <div class="p-5">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">New hotel stays</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Explore our newest hotels around the world, ready to welcome you for an exceptional stay.</p>
            
        </div>
    </div>
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
            <img style="height: 250px; width: 370px;" class="rounded-t-lg" src="./assets/image9.jpg" alt="" />
        </a>
        <div class="p-5">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">New hotel stays</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
            
        </div>
    </div>
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
            <img style="height: 250px; width: 370px;" class="rounded-t-lg" src="./assets/image10.jpg" alt="" />
        </a>
        <div class="p-5">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">New hotel stays</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
            
        </div>
    </div>
</div>
