


<p  style="text-align: center; font-size: 40px; margin-top: 75px; margin-bottom: 50px;" class="text-xl font-semibold text-blue-600/100 dark:text-blue-500/100">Our Destinations</p>



  
    
    <!-- Dropdown menu -->
    <div style="height: 100%; margin: 0; display: flex; justify-content: center; align-items: center;">
    <form action="/action_page.php">
      
      <select name="cars" id="cars">
        <option value="volvo">Dhonveli Maldives</option>
        <option value="saab">Habarana Village</option>
        <option value="opel">Velifushi Maldives</option>
        <option value="audi">Hakuraa Maldives</option>
      </select>
      <br><br>
      
    </form>
  </div>
    <div style="position: relative; width: 500px; height: 500px; display: inline-block; display: block; margin: 0 auto;">
      <img style="margin-top: 10px;" class="h-auto max-w-full" src="./assets/image4.jpg" alt="image description">
      <div style="position: absolute; bottom: 0; right: 0; top:0;  padding: 20px; margin-right: -250px; margin-bottom: -250px;">
        <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Emerald Isles Hotel Dhonveli Maldives</h5>
          <p class="font-normal text-gray-700 dark:text-gray-400">Feel an irrepressible wave of excitement as you have the best surfing experience, set to the backdrop of serenity, and pristine blue waters.</p>
        </a>
      </div>
    </div>
    
    
    
    

    
    